@import "breakpoints";

$white: #fff;
$black: #000;

$yellow_55: #ffd11a;
$yellow_60: #ffd633;
$yellow_70: #ffe066;
$yellow_80: #ffeb99;
$yellow_90: #fff5cc;
$yellow_95: #fffae5;
$yellow_97: #fffcf0;
$yellow_99: #fbfbfe;

$dark_08: #141414;
$dark_10: #1a1a1a;
$dark_15: #262626;
$dark_20: #333333;
$dark_25: #404040;
$dark_30: #4d4d4d;
$dark_35: #595959;
$dark_40: #666666;

$gray_50: #7e7e81;
$gray_60: #98989a;
$gray_70: #b3b3b3;
$gray_80: #cccccc;
$gray_90: #e4e4e7;
$gray_95: #f1f1f3;
$gray_97: #f7f7f8;
$gray_99: #fcfcfd;

$link: #8cb4ff;

$c_pad_d: 162px; // corner padding desktop
$c_pad_l: 80px; // corner padding laptop
$c_pad_m: 24px; // corner padding mobile

$pad_d: 80px;
$pad_l: 60px;
$pad_rt_m: 24px; // padding for rich text on mobile
$pad_m: 16px;

$text_fs_d: 18px;
$text_fs_l: 16px;
$text_fs_m: 14px;
