@import "normalize";

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
  background-color: $dark_08;
}

::-webkit-scrollbar-thumb {
  background-color: $dark_15;
  border-radius: 10px;
  &:hover {
    background-color: $dark_20;
  }
}

html {
  scroll-behavior: smooth;
  text-wrap: balance;
  scrollbar-gutter: stable;
}

body {
  background-color: $dark_08;
  color: $white;
  font-size: 16px;
  overflow-x: clip;
}

.wrapper {
  min-height: 100svh;
  overflow: clip;
  position: relative;
}

a:active,
a:hover,
a {
  text-decoration: none;
  color: #fff;
}
