.heading {
  padding: 130px $c_pad_d 150px;
}

.headingTitle {
  @extend .OpenSans600;

  font-size: 80px;
  margin-bottom: 20px;
}

.headingSubTitle {
  @extend .Inter400;

  font-size: 18px;
  color: $gray_60;
  line-height: 150%;
}

@media screen and (max-width: $xxl) {
  .heading {
    padding: $c_pad_l $c_pad_l 100px;
  }

  .headingTitle {
    font-size: 55px;
  }

  .headingSubTitle {
    font-size: 16px;
  }
}

@media screen and (max-width: $lg) {
  .heading {
    padding: 40px $pad_m;
  }

  .headingTitle {
    font-size: 28px;
  }

  .headingSubTitle {
    font-size: 14px;
  }
}
