.footer {
  display: flex;
  justify-content: center;
  padding: 0 162px;
  color: $dark_40;
}

.footerInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1920px;
}

.topContainer {
  padding: 10px 0; // 80px 0 если будет контент
  border-bottom: 1px solid $dark_15;
}

.bottomContainer {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: $text_fs_d;
}

.footerInfo {
  display: flex;
  gap: 22px;
}

@media screen and (max-width: $xxl) {
  .footer {
    padding: 0 $c_pad_l;
  }
  .bottomContainer {
    font-size: 14px;
  }
}

@media screen and (max-width: $lg) {
  .footer {
    padding: 0 $pad_m;
  }
  .bottomContainer {
    font-size: 14px;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    padding: 24px 0;
  }
  .footerInfo {
    order: 2;
  }
  .footerIcons {
    order: 1;
  }
  .copyright {
    order: 3;
  }
  .footerInfo {
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
