.content {
  display: flex;
  flex-direction: column;
}

.heading {
  padding: 130px 162px 150px;
}

.headingTitle {
  @extend .OpenSans600;

  font-size: 80px;
  margin-bottom: 10px;
}

.headingSecondary {
  display: flex;
  align-items: center;
  gap: 60px;
}

.headingTitleUnder {
  @extend .OpenSans600;

  font-size: 80px;
  flex-shrink: 0;
}

.headingSubTitle {
  @extend .Inter400;

  font-size: 18px;
  color: $gray_60;
}
