.header {
  display: flex;
  padding: 0;
  gap: 5px;
}

.mobileMenu {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
  align-items: center;
}

.navigationItem {
  @extend .Inter400;

  list-style-type: none;
  font-size: 18px;
  position: relative;

  & .activePageMobileMenu {
    background-color: $dark_08;
    border: 1px solid $dark_20;
    border-radius: 10px;
  }

  & .pageLink {
    display: inline-block;
    color: $gray_50;
    text-decoration: none;
    padding: 14px 24px;
    position: relative;
    z-index: 10;
    transition: background-color 0.3s, border 0.3s, color 0.3s;
  }

  & .activePage {
    color: $white;
  }
}

.underline {
  position: absolute;
  background-color: $dark_08;
  border: 1px solid $dark_20;
  border-radius: 10px;
  bottom: -1px;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 9;
}

@media screen and (max-width: $xxl) {
  .header .navigationItem {
    font-size: 14px;
    & .pageLink {
      padding: 10px 18px;
    }
    & .underline {
      border-radius: 6px;
    }
  }
}
