.post {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
}

.postImage {
  width: 500px;
  object-fit: cover;
  border-radius: 12px;
  height: 220px;
}

.postTitle {
  @extend .Inter600;

  font-size: 20px;
  margin-bottom: 10px;
}

.postCategory {
  font-size: 20px;
  color: $gray_60;
}

.postSecondaryInfo {
  display: flex;
  gap: 50px;
}

.postLabel {
  color: $gray_60;
  margin-bottom: 4px;
}
