.post {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;
  width: calc(100% / 3 - 20px);
}

.postImage {
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
  height: 220px;
}

.postTitle {
  @extend .Inter600;

  font-size: 20px;
  margin-bottom: 10px;
}

.postCategory {
  font-size: 20px;
  color: $gray_60;
}

.postSecondaryInfo {
  display: flex;
  gap: 50px;
}

.postLabel {
  color: $gray_60;
  margin-bottom: 4px;
}

@media screen and (max-width: $xxl) {
  .postTitle {
    font-size: 16px;
  }
  .postCategory {
    font-size: 16px;
  }
}
