.heroBlock {
  display: flex;
}

.heroTitles {
  padding: var(--hero-vertical-padding) var(--padding) var(--padding)
    var(--corner-padding);
  z-index: 5;
}

.heroCtaWrapper {
  justify-content: flex-end;
  position: relative;
}

.heroCta {
  padding: var(--padding) var(--corner-padding) var(--padding) var(--padding);
  width: 40svw;
}

.aboveTitle {
  @extend .OpenSans600;

  color: $dark_40;
  font-size: var(--font-size-aboveTitle);
  margin-bottom: 30px;
}

.mainTitle {
  @extend .OpenSans600;

  font-size: var(--font-size-mainTitle);
  margin-bottom: 20px;
}

.subtitle {
  @extend .Inter400;

  color: $gray_50;
  font-size: var(--font-size-subtitle);
  line-height: 150%;
}

.heroCtaTitle {
  @extend .Inter500;

  font-size: var(--font-size-title);
  line-height: 150%;
  margin-bottom: 14px;
  width: fit-content;
  position: relative;
  z-index: 8;
}

.heroCtaSubtitle {
  @extend .Inter500;

  font-size: var(--font-size-subtitle);
  color: $gray_60;
  line-height: 150%;
  margin-bottom: 30px;
  position: relative;
  z-index: 8;
}

.heroCtaImage {
  width: fit-content;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.heroCtaImage svg {
  width: var(--cta-icon-size);
  height: var(--cta-icon-size);
}

.linkBlocks {
  display: flex;
  padding: 0 calc(var(--corner-padding) - var(--padding));
  border-bottom: 1px solid $dark_15;
}

.linkBlockWrapper {
  width: calc(100% / 3);
}

.linkBlock {
  padding: var(--link-block-vertical-padding) var(--padding);
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.linkBlockIcon svg {
  width: var(--link-block-icon-size);
  height: var(--link-block-icon-size);
}

.linkBlockWrapper:not(:last-of-type) {
  border-right: 1px solid $dark_15;
}

.linkBlockMain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.linkBlockMainTitle {
  @extend .Inter500;

  font-size: var(--font-size-blockTitle);
  margin-bottom: 4px;
}

.linkBlockMainSubtitle {
  @extend .Inter400;

  font-size: var(--font-size-subtitle);
  color: $gray_50;
}

.linkBlockSubtitle {
  @extend .Inter400;

  font-size: var(--font-size-blockSubtitle);
  color: $gray_60;
}

.ctaBlockHeader {
  display: flex;
  padding: var(--padding) var(--corner-padding);
  gap: var(--padding);
  align-items: center;
}

.ctaBlockHeaderIcon {
  display: flex;
  gap: var(--padding);
}

.ctaBlockHeaderSvg svg {
  height: var(--cta-icon-size);
  width: var(--cta-icon-size);
}

.ctaBlockAboveTitle,
.ctaBlockAboveTitleMobile {
  @extend .Inter500;

  padding: 6px 10px;
  background-color: $dark_20;
  font-size: var(--font-size-blockSubtitle);
  width: fit-content;
  height: fit-content;
  margin-bottom: 16px;
}

.ctaBlockAboveTitleMobile {
  display: none;
  margin-bottom: 0;
}

.ctaBlockTitle {
  @extend .OpenSans600;

  font-size: var(--font-size-headerTitle);
  margin-bottom: 30px;
}

.ctaBlockSubtitle {
  color: $gray_50;
  line-height: 150%;
  font-size: var(--font-size-subtitle);
}

@media screen and (max-width: $xxl) {
  .linkBlock {
    gap: 20px;
  }
  .linkBlockMain {
    gap: 14px;
  }
  .aboveTitle {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: $lg) {
  .heroBlock {
    flex-direction: column;
  }
  .heroTitles {
    max-width: 650px;
  }
  .heroTitlesWrapper {
    border-bottom: 1px solid $dark_15;
  }
  .heroCtaWrapper {
    display: flex;
  }
  .heroCta {
    width: auto;
    padding: 40px;
  }
  .heroCtaTitle {
    margin-bottom: 4px;
  }
  .heroCtaSubtitle {
    margin-bottom: 20px;
  }
  .heroCtaButton {
    width: 100%;
    padding: 14px 20px;
    height: 49px;
  }
  .aboveTitle {
    margin-bottom: 14px;
  }
  .linkBlocks {
    flex-direction: column;
    border-bottom: 0;
  }
  .linkBlockWrapper {
    border-right: 0;
    border-bottom: 1px solid $dark_15;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .linkBlock {
    width: 100%;
    max-width: 550px;
    gap: 16px;
  }
  .ctaBlockHeader {
    flex-direction: column;
    align-items: start;
  }
  .ctaBlockHeaderIcon {
    align-items: center;
  }
  .ctaBlockAboveTitle {
    display: none;
  }
  .ctaBlockAboveTitleMobile {
    display: block;
  }
}
