.button {
  @extend .Inter500;

  width: fit-content;
  font-size: 18px;
}

.primaryButton {
  color: $dark_08;
  background-color: $yellow_55;

  border-radius: 10px;
  border: 1px solid $black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  transition: 0.6s;

  & svg {
    height: 24px;
    width: 24px;
    stroke: $dark_08;
  }

  &:hover {
    color: $black;
    border: 1px solid $white;
  }
}

.secondaryButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: $dark_08;
  color: $gray_60;

  border-radius: 12px;
  border: 1px solid $dark_15;

  transition: 0.6s;

  & svg {
    height: 24px;
    width: 24px;
    stroke: $yellow_55;
  }

  &:hover {
    color: $white;
    border: 1px solid $white;
  }
}

.smallButton {
  height: 55px;
  padding: 14px 20px;
}

.mediumButton {
  height: 63px;
  padding: 18px 24px;
}

.bigButton {
  height: 71px;
  padding: 22px 24px;
}

.adaptiveButton {
  width: 13svw;
  min-width: 120px;
  max-width: 250px;
}

.wideButton {
  width: 277px;
}

.activeButton {
  background-color: $dark_10;
  color: $white;
}

@media screen and (max-width: $xxl) {
  .button {
    font-size: 14px;
  }
  .secondaryButton {
    & svg {
      width: 20px;
      height: 20px;
    }
  }
  .primaryButton {
    & svg {
      width: 20px;
      height: 20px;
    }
  }
  .smallButton {
    padding: 10px 14px;
    border-radius: 6px;
    height: 41px;
  }
  .mediumButton {
    padding: 14px 20px;
    border-radius: 8px;
    height: 49px;
  }
  .bigButton {
    height: 63px;
    padding: 16px 24px;
  }
  .wideButton {
    width: 200px;
  }
}

@media screen and (max-width: $lg) {
  .bigButton {
    height: 59px;
    padding: 14px 18px;
  }
}
