.border {
  border-top: 1px solid $dark_15;
  border-bottom: 1px solid $dark_15;
}

.borderRight {
  border-right: 1px solid $dark_15;
}

.borderLeft {
  border-left: 1px solid $dark_15;
}

.bgDark_15 {
  background-color: $dark_15;
}

.bgDark_10 {
  background-color: $dark_10;
}

.bgDark_08 {
  background-color: $dark_08;
}

.contentBlockInner {
  width: 100%;
}

.contentBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
}
