.post {
  display: flex;
  padding: 80px 162px;
  gap: 80px;
  align-items: center;
}

.postImage {
  width: 500px;
  object-fit: cover;
  border-radius: 12px;
  max-height: 400px;
}

.postInfo {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.postTitle {
  @extend .Inter600;

  font-size: 32px;
  margin-bottom: 30px;
}

.postSubTitle {
  @extend .Inter400;

  font-size: 20px;
  color: $gray_60;
}

.postSecondaryInfo {
  @extend .Inter400;

  display: flex;
  gap: 50px;
  font-size: 18px;
}

.postLabel {
  color: $gray_60;
  margin-bottom: 4px;
}

@media screen and (max-width: $xxl) {
  .post {
    padding: $pad_l $c_pad_l;
  }
  .postTitle {
    font-size: 24px;
  }
  .postSubTitle {
    font-size: 18px;
  }
  .postSecondaryInfo {
    font-size: 16px;
  }
}
