.card {
  position: relative;
  height: 700px;
  width: 60vw;
  overflow: hidden;
  background-color: $dark_10;
  border-radius: 12px;
  padding: 50px 80px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  & .cardHeader {
    font-size: var(--font-size-title);
    color: $gray_60;
    display: flex;
    gap: 20px;
  }

  & .cardTechs {
    font-size: var(--font-size-subtitle);
    display: flex;
    gap: 10px;
  }

  & .cardTech {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  & .cardImage {
    border-radius: 12px;
    max-width: 100%;
    height: 400px;
    object-fit: contain;
    user-select: none;
  }

  & .cardLinks {
    display: flex;
    gap: 10px;
    font-size: var(--font-size-subtitle);
  }

  & .link {
    display: flex;
    gap: 4px;
    color: $gray_70;
  }

  & .techName {
    color: $gray_60;
    text-wrap: nowrap;
  }

  & .techSvg svg {
    width: 24px;
    height: 24px;
  }

  & .linkSvg svg {
    width: 20px;
    height: 20px;
    stroke: $yellow_55;
  }
}
