.headingOuter {
  height: calc(100svw / 3);
  width: 100%;
  position: relative;
  max-height: 650px;
  min-height: 200px;

  &::after {
    content: "";
    height: 100%;
    width: calc(100% + 2px);
    display: block;
    position: absolute;
    right: 0;
    left: 0;
    bottom: -1px;
    background: $image_gradient;
  }
}

.headingImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-width: 1918px;
}

.headingText {
  @extend .Inter600;

  font-size: 64px;
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  max-width: 1200px;
  margin: 0 auto 65px;
}

.normalText {
  @extend .Inter400;

  color: $gray_60;
  font-size: 18px;
  line-height: 150%;
}

.postContent {
  display: flex;
}

.postTextBlock {
  width: 70%;
}

.introduction {
  padding: $pad_d $pad_d $pad_d $c_pad_d;
}

.introductionTitle {
  @extend .Inter500;

  color: $white;
  font-size: 20px;
  margin-bottom: 14px;
}

.introductionSubTitle {
  @extend .normalText;
}

.postMainText {
  padding: $pad_d $pad_d $pad_d $c_pad_d;
  font-size: 18px;
  position: relative;
}

.infoItem {
  width: 185px;
  height: min-content;
}

.infoItemLabel {
  @extend .normalText;

  margin-bottom: 6px;
}

.postInfo {
  width: 40svw;
  max-width: 700px;
  padding: $pad_d $c_pad_d $pad_d $pad_d;
  display: flex;
  flex-direction: column;
  gap: 50px;
  font-size: 18px;
  height: 100%;
}

.infoBlock {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.contentTable {
  width: 100%;
  position: sticky;
  top: 10px;
}

.contentTableLabel {
  @extend .normalText;

  margin-bottom: 16px;
}

.contentTableItems {
  background-color: $dark_10;
  padding: 20px;
  border-radius: 12px;
}

.contentTableItemsList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  padding-left: 20px;
}

.contentTableItem {
  @extend .Inter400;

  font-size: 18px;
  padding: 5px;
  border-radius: 8px;
}

.blockquote {
  position: relative;
  margin: 0 0 0 16px;
  color: $gray_60;
  &::before {
    content: "";
    position: absolute;
    left: -16px;
    top: -4px;
    bottom: -4px;
    width: 3px;
    background: $gray_60;
  }
}

.richTextLink {
  text-decoration: underline;
  background-color: $dark_15;
  padding: 2px 4px;
  border-radius: 4px;
  color: $link;

  transition: color 0.3s;

  &:hover {
    color: $link_hover;
  }
}

.bulletList,
.numberList {
  color: $gray_60;

  & li {
    line-height: 150%;
    margin-bottom: 8px;
    font-size: 18px;
  }

  & li::marker {
    color: $white;
  }
}

.h2 {
  font-size: 28px;
  line-height: 150%;
  scroll-margin-top: 120px;
}

.h3 {
  font-size: 24px;
  line-height: 150%;
  scroll-margin-top: 120px;
}

.readFullButton {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 55px;
  margin: 0 auto;
}

.introductionTitle {
  scroll-margin-top: 120px;
}

.samePostsHeading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.samePostsLabel {
  @extend .OpenSans600;
  font-size: 28px;
  color: $gray_80;
}

.imageWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.image {
  width: 100%;
  max-width: fit-content;
  border-radius: 12px;
}

h3:nth-child(1) {
  margin-top: 0;
}

.visibleSection {
  background-color: $dark_25;
  transition: background-color 0.6s;
}

@media screen and (max-width: $xxl) {
  .headingText {
    font-size: 44px;
    margin: 0 auto 35px;
  }
  .introduction {
    padding: $pad_l $pad_l $pad_l $c_pad_l;
  }
  .postInfo {
    padding: $pad_l $c_pad_l $pad_l $pad_l;
    font-size: 16px;
    max-width: 570px;
    gap: 40px;
  }
  .postMainText {
    padding: $pad_l $pad_l $pad_l $c_pad_l;
  }
  .contentTableItems {
    padding: 18px;
  }
  .contentTableItem {
    font-size: 16px;
  }
  .info {
    gap: 20px;
  }
  .infoBlock {
    gap: 20px;
  }
  .infoItem {
    width: 170px;
  }
  .normalText,
  .blockquote {
    font-size: 16px;
  }
  .h2 {
    font-size: 22px;
  }
  .h3 {
    font-size: 20px;
  }
  .bulletList,
  .numberList {
    & li {
      font-size: 16px;
    }
  }
  .samePostsHeading {
    margin-bottom: 50px;
  }
}

@media screen and (max-width: $lg) {
  .headingText {
    font-size: 28px;
    margin: 0 auto 17px;
  }
  .introduction {
    padding: 40px $pad_rt_m;
  }
  .postContent {
    flex-direction: column-reverse;
  }
  .postInfo {
    padding: 40px $pad_rt_m;
    font-size: 16px;
    width: 100%;
    max-width: 100%;
    align-items: center;
    gap: 30px;
  }
  .postTextBlock {
    width: 100%;
  }
  .postMainText {
    padding: 40px $pad_rt_m;
  }
  .introductionTitle {
    font-size: 18px;
  }
  .info {
    width: 100%;
    max-width: 450px;
  }
  .infoBlock {
    width: 100%;
    justify-content: space-between;
    font-size: 14px;
    gap: 10px;
  }
  .infoItem {
    width: 150px;
  }
  .infoItemLabel {
    font-size: 14px;
  }
  .contentTable {
    max-width: 550px;
  }
  .contentTableItem {
    font-size: 14px;
  }
  .normalText,
  .blockquote {
    font-size: 14px;
  }
  .h2 {
    font-size: 18px;
  }
  .h3 {
    font-size: 16px;
  }
  .bulletList,
  .numberList {
    & li {
      font-size: 14px;
    }
  }
  .samePostsHeading {
    margin-bottom: 40px;
  }
  .visibleSection {
    background-color: transparent;
    transition: none;
  }
}

@media screen and (min-width: $xxxl) {
  .headingOuter {
    &::after {
      left: -1px;
    }
  }
}
