.navigationList {
  display: flex;
  padding: 0;
  gap: 5px;
}

.navigationItem {
  list-style-type: none;

  & a {
    color: $gray_50;
    text-decoration: none;
    padding: 14px 24px;
  }

  & .activePage {
    color: $white;
    background-color: $dark_08;
    border: 1px solid $dark_20;
    border-radius: 10px;
  }
}
