.categories {
  padding: 0 162px;
  display: flex;
  align-items: center;
  position: sticky;
  background-color: $dark_08;
  top: -65px;
  height: 150px;
}

.categoriesInner {
  display: flex;
  justify-content: center;
  padding: 5px 0;
  gap: 20px;
  position: sticky;
  top: 0;
}
