.headingOuter {
  background: url(https://placehold.co/1920x500/555555/FFFFFF/png);
}

.headingInner {
  padding: 300px 200px 65px;
  background: linear-gradient(
    180deg,
    rgba(20, 20, 20, 0) 0%,
    rgba(20, 20, 20, 0.880208) 75.52%,
    #141414 100%
  );
}

.headingText {
  @extend .Inter600;

  font-size: 64px;
  text-align: center;
}
