// .headingOuter {
//   background: url(https://placehold.co/1920x500/555555/FFFFFF/png);
// }

.headingInner {
  padding: 300px 200px 65px;
  background: linear-gradient(
    180deg,
    rgba(20, 20, 20, 0) 0%,
    rgba(20, 20, 20, 0.880208) 75.52%,
    #141414 100%
  );
  position: relative;
}

.headingImage {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  z-index: 0;
}

.headingText {
  @extend .Inter600;

  font-size: 64px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.normalText {
  @extend .Inter400;

  color: $gray_60;
  font-size: 18px;
  line-height: 150%;
}

.postContent {
  display: flex;
}

.postTextBlock {
  width: 70%;
}

.introduction {
  padding: 60px;
}

.introductionTitle {
  @extend .Inter500;

  color: $white;
  font-size: 20px;
  margin-bottom: 14px;
}

.introductionSubTitle {
  @extend .normalText;
}

.postMainText {
  padding: 60px 60px 80px;
}

.infoItem {
  width: 205px;
  height: min-content;
}

.infoItemLabel {
  @extend .normalText;

  margin-bottom: 6px;
}

.postInfo {
  width: 30%;
  padding: 60px 60px 80px;
}

.infoBlock {
  display: flex;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
